[build]
builder = "NIXPACKS"

[deploy]
startCommand = "bash railway/init-app.sh && php artisan serve --host=0.0.0.0 --port=$PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
