[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm ci",
    "npm run build",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[phases.setup]
aptPkgs = ["caddy"]

[start]
cmd = "bash railway/startup.sh"
